{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="about-container">
<h1>About Me</h1>
<div class="about-describe"></div>
<p>
  Hi, I'm <b>Kavi Bharath</b>, a passionate developer with a strong foundation in 
  <b>Python, Django, Flask, HTML, CSS, JavaScript, MySQL, and SQL</b>.  
  I have completed my <b>B.Sc. in Mathematics</b> with a CGPA of 8.6 from 
  Dwaraka Doss Goverdhan Doss Vaishnav College, Chennai.
</p>
</div>
<div class="about-worked">
<p>
  I worked as an <b>Intern at Uniq Technologies</b> for 6 months, where I gained 
  hands-on experience in <b>Python Full Stack Development</b>.  
  During my internship, I worked on backend development, REST APIs, database 
  management, and real-time problem solving. 
</p>
</div>
<div class="about-motivate">
<p>
  My current motivation and career goal is to become a <b>Django Developer</b>.  
  I enjoy building clean, maintainable, and scalable applications while focusing on 
  backend logic, security, and integration with frontends.
</p></div>
<div class="about-highlight">
<h2>Highlights</h2>
<ul>
  <li><b>Technical Skills:</b> Python, Django, Flask, MySQL, HTML, CSS, REST APIs</li>
  <li><b>Projects:</b> Blog application using Django, E-Commerce Websites, and web scraping</li>
  <li><b>Strengths:</b> Problem-solving, debugging, writing clean code, and documentation</li>
  <li><b>Soft Skills:</b> Communication, adaptability, Time-Management, and teamwork</li>
</ul>
</div>
<div class="about-interest">
<h2>Interests</h2>
<p>
  Beyond coding, I enjoy <b>cricket, swimming, and reading books</b>.  
  I’m also passionate about learning new technologies and improving my communication skills 
  to connect better with teams and students in seminars.
</p></div>
</div>
{% endblock %}
